.game {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 750px;
  margin: 0 auto;
}
.game_title {
  width: 100%;
  position: relative;
  text-align: center;
  color: #1d1d1b;
  font-size: 48px;
  font-weight: 500;
  font-family: Fira Sans, sans-serif;
  margin-bottom: 50px;
}
.game_title::after {
  position: absolute;
  content: "";
  top: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%);
  width: 180px;
  height: 5px;
  background-color: #008900;
}
.game img {
  width: 100%;
  object-fit: contain;
}
.game p {
  color: #1d1d1b;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: justify;
  font-family: Fira Sans, sans-serif;
}

@media screen and (max-width: 1024px) {
  .game {
    padding: 40px 0 50px;
    gap: 30px;
    max-width: 550px;
  }
  .game_title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .game {
    padding: 40px 0 50px;
    max-width: 100%;
  }
  .game_title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .game_title::after {
    top: 100% ;
    width: 100px;
    height: 4px;
  }
  .game p {
    font-size: 18px;
    line-height: 28px;
  }
}
