.difference {
  min-height: 80vh;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 700px;
  margin: 0 auto;
}
.difference_title {
  width: 100%;
  text-align: center;
  position: relative;
  color: #1d1d1b;
  font-size: 64px;
  font-weight: 500;
  font-family: Fira Sans, sans-serif;
}
.difference_title::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: #008900;
}
.difference_hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.difference_images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.difference_hero img {
  width: 100%;
  object-fit: contain;
}
.difference_hero p {
  color: #1d1d1b;
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Fira Sans, sans-serif;
}
@media screen and (max-width: 1024px) {
  .difference {
    max-width: 550px;
  }
}
@media screen and (max-width: 768px) {
  .difference {
    min-height: 80vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
  }
  .difference_title::after {
    width: 70px;
    height: 4px;
  }
  .difference_hero {
    gap: 40px;
  }
  .difference_hero img {
    width: calc((100% - 10px) / 2);
  }
}
@media screen and (max-width: 480px) {
  .difference_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .difference_hero img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .difference_title {
    font-size: 48px;
  }
}
