.footer_bg {
  width: 100%;
  background-color: #00a900;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}
.foot_3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 27%;
}

.foot_3 a{
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  font-family: Fira Sans, sans-serif;
  transition: 0.4s;
  height: 100%;
}

.foot_3 a:hover {
  color: #f9c126;
}
.foot_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 20%;
}
.foot_logo img {
  width: 80%;
}
.foot_line {
  width: 100%;
  height: 3px;
  background-color: #f9c126;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.copyright h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: Fira Sans, sans-serif;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .foot_3 a {
    font-size: 18px;
    font-weight: 500;
  }
  .foot_logo img {
    width: 90%;
  }
  .foot_3{
    width: 30%;
  }
  .foot_2 {
    width: 16%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .foot_logo{
    width: 40%;
    margin-bottom: 20px;
  }
  .foot_3 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
    margin-bottom: 30px;
  }
  .foot_logo img {
    width: 90%;
  }
  .foot_3 a{
    font-size: 22px;
  }
  .copyright h2 {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .foot_3{
    order: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
  }

  .foot_3 {
    margin-bottom: 10px;
  }
  .foot_3 a{
    text-align: center;
  }
  .copyright{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin-top: 20px;
  }
  .foot_logo img {
    width: 100%;
    margin-bottom: 0;
  }
  .foot_logo{
    width: 70%;
  }
}
