.footer_bg {
  width: 100%;
  background-color: #00a900;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}
.foot_2,
.foot_3,
.foot_4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 27%;
}
.foot_2 {
  width: 20%;
}
.foot_2 a,
.foot_3 a,
.foot_4 a {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  font-family: Fira Sans, sans-serif;
  transition: 0.4s;
  height: 100%;
}
.foot_4 a {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}
.foot_4 a:first-of-type svg {
  font-size: 18px;
}
.foot_4 a:last-of-type svg {
  font-size: 20px;
}
.foot_2 a:hover,
.foot_3 a:hover,
.foot_4 a:hover {
  color: #f9c126;
}
.foot_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 20%;
}
.foot_logo img {
  width: 80%;
}
.foot_line {
  width: 100%;
  height: 3px;
  background-color: #f9c126;
}
.copyright_bg {
  width: 100%;
  background-color: #00a900;
  padding: 20px 0;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.copyright h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: Fira Sans, sans-serif;
}

@media screen and (max-width: 1024px) {
  .foot_2 a,
  .foot_3 a,
  .foot_4 a {
    font-size: 18px;
    font-weight: 500;
  }
  .foot_4 a:first-of-type svg {
    font-size: 16px;
  }
  .foot_4 a:last-of-type svg {
    font-size: 18px;
  }
  .foot_logo img {
    width: 90%;
  }
  .foot_3,
  .foot_4 {
    width: 30%;
  }
  .foot_2 {
    width: 16%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .foot_logo,
  .foot_2 {
    width: 40%;
    margin-bottom: 20px;
  }
  .foot_3,
  .foot_4 {
    width: 57%;
  }
  .foot_2 {
    order: 1;
  }
  .foot_3 {
    order: 2;
  }
  .foot_logo img {
    width: 90%;
  }
  .foot_2 a,
  .foot_3 a,
  .foot_4 a {
    font-size: 22px;
  }
  .foot_4 a:first-of-type svg {
    font-size: 18px;
  }
  .foot_4 a:last-of-type svg {
    font-size: 20px;
  }
  .copyright h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .foot_2,
  .foot_3,
  .foot_4 {
    order: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .foot_3,
  .foot_2 {
    margin-bottom: 10px;
  }
  .foot_2 a,
  .foot_3 a,
  .foot_4 a {
    text-align: center;
  }
  .foot_4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .copyright{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
  }
  .foot_logo img {
    width: 100%;
    margin-bottom: 0;
  }
  .foot_logo{
    width: 70%;
  }
}
