@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
li {
  margin-left: 0 !important;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #00a900;
  border: 0.5px solid #f9c126;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: lightgrey;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.catalog-item {
  @apply text-white w-full font-main font-medium text-left  text-sm lg:text-lg transition-all duration-300 hover:text-yellow flex justify-start items-center;
}
.swiper {
  width: 100%;
  height: 400px !important;
  margin: 80px 0;
  padding: 0 40px;
  user-select: none;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  opacity: 0.5;
  height: 400px !important;
  top: 22px !important;
  width: 40px !important;
  pointer-events: all !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  z-index: 9999 !important;
  color: rgb(0 153 0 / var(--tw-bg-opacity));
  pointer-events: all !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper_text {
  @apply text-left font-main font-medium text-xl mt-3 px-2;
}
.scrollTop {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009900;
  background-color: #f9c126;
  border-radius: 50% !important;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  border: 1px solid #f9c126;
  outline: none;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .scrollTop {
    bottom: 20px;
    right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .scrollTop {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 320px) {
  .scrollTop {
    bottom: 15px;
    right: 15px;
  }
}

.user-correct-answer {
  background-color: #4caf50; /* Зеленый цвет для правильного ответа пользователя */
}

.user-incorrect-answer {
  background-color: #f44336; /* Красный цвет для неправильного ответа пользователя */
}
